[submodule "src/github.com/mattn/go-sqlite3"]
	path = src/github.com/mattn/go-sqlite3
	url = https://github.com/mattn/go-sqlite3
[submodule "src/github.com/go-sql-driver/mysql"]
	path = src/github.com/go-sql-driver/mysql
	url = https://github.com/go-sql-driver/mysql

