{{define "footer"}}
<footer role="contentinfo" class="container container-fluid">
    <div class="row">
        <div class="col-md-4">
            <div class="container">
                <p>Built by the X Rebirth Community.</p>
                <p>Images and other copyrighted material owned by <a href="http://www.egosoft.com">Egosoft GmbH</a></p>
            </div>
        </div>
        <div class="col-md-8"></div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="container">
                <p class="text-primary">XR Guide</p>
                <ul class="list-unstyled">
                    <li><a href="https://github.com/wongak/xrguide">On GitHub</a></li>
                    <li><a href="https://github.com/wongak/xrguide/issues">Issues</a></li>
                </ul>
            </div>
        </div>
        <div class="col-md-4">
            <div class="container">
                <p class="text-primary">X Rebirth</p>
                <ul class="list-unstyled">
                    <li><a href="http://www.egosoft.com/games/x_rebirth/info_en.php">X Rebirth</a></li>
                    <li><a href="http://www.egosoft.com/">Egosoft</a></li>
                    <li><a href="http://forum.egosoft.com/index.php">Egosoft Forum</a></li>
                    <li><a href="http://forum.egosoft.com/viewforum.php?f=129">X Rebirth Scripts and Modding Forum</a></li>
                </ul>
            </div>
        </div>
        <div class="col-md-4">
            <div class="container">
                <p class="text-primary">X Rebirth Guide</p>
                <ul class="list-unstyled">
                    <li><a href="/about">About</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 text-muted small">
            <dl class="dl-horizontal">
                <dt>Language:</dt>
                <dd>{{.Data.lang.Name}}</dd>
            </dl>
        </div>
        <div class="col-md-8"></div>
    </div>
</footer>
<script src="/js/jquery-1.10.2.min.js"></script>
<script src="/js/angular.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/xrguide.js"></script>
</body>
</html>
{{end}}
