{{define "head"}}
<!doctype html>
<html lang="en" xmlns:ng="http://angularjs.org" id="ng-app" ng-app="xrguide">
<head>
    <title>{{.Data.title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!--[if lte IE 8]>
    <script src="/js/json2.js"></script>
    <script>
        document.createElement('ng-include');
        document.createElement('ng-pluralize');
        document.createElement('ng-view');

        // Optionally these for CSS
        document.createElement('ng:include');
        document.createElement('ng:pluralize');
        document.createElement('ng:view');
    </script>
    <![endif]-->
	<link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/xrguide.css" />
</head>
{{end}}
{{define "body_start"}}
<body>
{{template "nav" .}}
<div id="c" class="container ng-view">
{{end}}
{{define "body_end"}}
</div>
{{end}}
