body{
	padding-top:70px;
}
div.navbar{
    background-color: #272b30;
    background-image:url(/img/header_x_rebirth_01.jpg);
    background-position: top right;
    background-repeat:no-repeat;
}
footer{
    padding-top: 40px;
    padding-bottom: 30px;
    margin-top: 100px;
    border-top: 1px solid #555555;
}
.navbar{
    margin: 0 -15px;
}

.container-fluid {
    padding: 0 15px;
    margin-right: auto;
    margin-left: auto;
}
.container {
    max-width: 100%;
    padding-right: 0;
    padding-left: 0;
}
.panel{
    padding:1em;
}