<h1>Stations</h1>
<div ng-controller="StationsListCtrl">
<form>
    <div class="form-group">
        <label for="stations-query">Search</label>
        <input type="text" id="stations-query" ng-model="query" />
    </div>
</form>
<table class="table table-bordered">
    <thead>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Produces</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="station in stations | filter:search | orderBy:order">
        <td><a href="/station/{{station.Id}}">{{station.Id}}</a></td>
        <td>
        <a href="/station/{{station.Id}}">{{station.name}}</a>
        </td>
        <td>
            <ul ng-if="station.ProducedWares.length">
                <li ng-repeat="ware in station.ProducedWares"><a href="/ware/{{ware.Id}}">{{getName(ware)}}</a></li>
            </ul>
        </td>
    </tr>
    </tbody>
</table>
</div>