{{template "head" .}}
{{template "body_start" .}}
<div class="ware">
    <h1>{{if .Data.ware.Name.Valid}}{{.Data.ware.Name.String}}{{else if .Data.ware.NameRaw.Valid}}{{.Data.ware.NameRaw.String}}{{end}}</h1>
    <div class="datasheet panel panel-default">
        <h2>Datasheet</h2>
        <dl class="dl-horizontal">
            <dt>Transport</dt>
            <dd>{{.Data.ware.Transport}}</dd>
            <dt>Specialist</dt>
            <dd>{{if .Data.ware.Specialist.Valid}}{{.Data.ware.Specialist.String}}{{else}}-{{end}}</dd>
            <dt>Size</dt>
            <dd>{{.Data.ware.Size}}</dd>
            <dt>Volume</dt>
            <dd>{{.Data.ware.Volume}}</dd>
            <dt>Price Min.</dt>
            <dd>{{.Data.ware.PriceMin}}</dd>
            <dt>Price Avg.</dt>
            <dd>{{.Data.ware.PriceAverage}}</dd>
            <dt>Price Max.</dt>
            <dd>{{.Data.ware.PriceMax}}</dd>
            <dt>Container</dt>
            <dd>{{.Data.ware.Container}}</dd>
        </dl>
    </div>
    <div class="production panel panel-default">
        <h2>Production</h2>
    {{range .Data.ware.Productions}}
        <h3>Method: {{.Method}}</h3>
        <dl class="dl-horizontal">
            <dt>Time</dt>
            <dd>{{.Time}}</dd>
            <dt>Amount</dt>
            <dd>{{.Amount}}</dd>
            {{if .Text.Valid}}
            <dt>Info</dt>
            <dd>{{.Text.String}}</dd>
            {{end}}
            {{if .Stat}}
            <dt><dfn title="Amount * Average Price">Production Value</dfn></dt>
            <dd>{{.Stat.ProductionValue}}</dd>
            <dt><dfn title="Production Value - Sum of Average Cost">Average Yield</dfn></dt>
            <dd>{{.Stat.AverageYield}}</dd>
            <dt>Average Yield/h</dt>
            <dd>{{.Stat.AverageYieldPerH}}</dd>
            {{end}}
        </dl>
        {{if .Wares}}
        <table class="table">
            <thead>
            <tr>
                <th>Primary</th>
                <th>Id</th>
                <th>Name</th>
                <th>Amount</th>
                <th><dfn title="Average Price of Ware * Amount">Average Cost</dfn></th>
            </tr>
            </thead>
            <tbody>
        {{range .Wares}}
                <tr{{if .Primary}} class="success"{{end}}>
                    <td>{{if .Primary}}Y{{else}}N{{end}}</td>
                    <td><a href="/ware/{{.Ware.Id}}">{{.Ware.Id}}</a></td>
                    <td{{if not .Ware.Name.Valid}} class="warning"{{end}}>{{if .Ware.Name.Valid}}<a href="/ware/{{.Ware.Id}}">{{.Ware.Name.String}}</a>{{else}}?{{end}}</td>
                    <td class="number">{{.Amount}}</td>
                    <td class="number">{{.AverageCost}}</td>
                </tr>
        {{end}}
            </tbody>
        {{if .Stat}}
            <tfoot>
                <tr>
                    <td colspan="4"></td>
                    <td class="number">{{.Stat.TotalAverage}}</td>
                </tr>
            </tfoot>
        {{end}}
        </table>
        {{end}}
    {{else}}
        <p class="text-warning">No production info for this ware.</p>
    {{end}}
    </div>
</div>
{{template "body_end" .}}
{{template "footer" .}}
